.bg-blue {
    background-color: #579BB1;
}
.border-blue {
    border: 1px solid #579BB1;
}
.bg-beige1 {
    background-color: #E1D7C6;
}
.border-beige1 {
    border: 3px solid #E1D7C6;
}
.bg-beige2 {
    background-color: #ECE8DD;
}
.bg-beige3 {
    background-color: #F8F4EA;
}
.title{
    margin: auto;
}
.top-buffer {
    margin-top:20px;
}
.bottom-buffer {
    margin-bottom: 20px;
}
body {
    background-color: #ECE8DD !important;
    overflow-y: scroll;
}
.container-fluid .row {
    margin-left: 0;
    margin-right: 0;
}
